<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Arithmetic Operators.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D04F1E461E4F5A8F008DE9CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D04F1E5A1E4F5A90008DE9CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D04F1E651E4F5A90008DE9CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
